<% provide(:title, "Home") %>

<div class="container text-center">
	<br>
	<h2>Private Events</h2>

	<div class="jumbotron">
		<p>Welcome to Private Events, where you can post and create events.</p>
	</div>
</div>